modules = ["nodejs-20"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3000

[nix]
channel = "stable-25_05"

[deployment]
run = ["sh", "-c", "node serve.js "]
deploymentTarget = "cloudrun"
publicDir = "dist"

[userenv]

[userenv.production]
NPM_CONFIG_ALWAYS_AUTH = "false"
npm_config_always_auth = "false"
npm_config__auth = ""
